$brand-color: #4a90e2;
$input-border-active-color: #66afe9;
$transparent-button-border-color: #66afe9;
$transparent-button-background-color: white;
$border-color: #c9c9c9;
$light-button-color: #c9c9c9;
$danger-color: red;
$success-color: #b8e986;
$active-button-color: white;
$active-button-background-color: #4a90e2;
$active-button-border-color: #4a90e2;
